@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
html,
body {
  width: 100% !important;
  height: 100% !important;
}
/* in global css */
::-webkit-scrollbar {
  display: none;
}

/* NORMAL */
.upload-box {
  border: 2px dashed #9ca3af;
  border-radius: 12px;
  position: relative;
  transition: all 0.3s ease;
}

/* DRAGGING STATE */
.upload-box.dragging {
  border: none;
}

/* FULL ROTATING BORDER */
.upload-box.dragging::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 12px;
  padding: 2px;

  background:
    linear-gradient(90deg, black 50%, transparent 50%) top left,
    linear-gradient(0deg, black 50%, transparent 50%) top right,
    linear-gradient(90deg, black 50%, transparent 50%) bottom right,
    linear-gradient(0deg, black 50%, transparent 50%) bottom left;

  background-size:
    20px 2px,
    2px 20px,
    20px 2px,
    2px 20px;
  background-repeat: repeat-x, repeat-y, repeat-x, repeat-y;

  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;

  animation: borderMove 1s linear infinite;
}

/* KEYFRAME */
@keyframes borderMove {
  0% {
    background-position:
      0 0,
      100% 0,
      0 100%,
      0 0;
  }
  100% {
    background-position:
      40px 0,
      100% 40px,
      -40px 100%,
      0 -40px;
  }
}

.ripple-container {
  position: relative;
  width: 10px;
  height: 10px;
}

.ripple-dot {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 9999px;
  z-index: 10;
}

.ripple-circle {
  position: absolute;
  border-radius: 9999px;
  width: 10px;
  height: 10px;
  opacity: 0.5;
  animation: ripple 2s infinite;
}

.ripple-circle:nth-child(2) {
  animation-delay: 0.4s;
}
.ripple-circle:nth-child(3) {
  animation-delay: 0.8s;
}
.ripple-circle:nth-child(4) {
  animation-delay: 1.2s;
}

@keyframes ripple {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }
  100% {
    transform: scale(6);
    opacity: 0;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.marquee {
  display: flex;
  width: max-content;
  animation: marquee 20s linear infinite;
}

.marquee:hover {
  animation-play-state: paused;
}